
{% extends 'base.html' %}

{% block title %}Senha Redefinida{% endblock %}

{% block content %}
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
        <p class="font-bold">Senha Redefinida com Sucesso!</p>
        <p>Sua senha foi redefinida com sucesso. Você pode fazer login agora.</p>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Fazer Login</a>
        </div>
    </div>
{% endblock %}
