
{% extends 'base.html' %}

{% block title %}{{ action }} Perfil de Aluno{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ action }} Perfil de Aluno para {{ usuario.username|default:perfil_aluno.usuario.username }}</h1>
    <form method="post" class="bg-white shadow-md rounded-lg p-6 mb-6" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <p class="text-gray-600 text-xs italic mt-1">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Salvar</button>
            <a href="{% url 'usuario_detail' usuario.pk|default:perfil_aluno.usuario.pk %}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Cancelar</a>
        </div>
    </form>
{% endblock %}
