
{% extends 'base.html' %}

{% block title %}Calendário de Agendamentos{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Calendário de Agendamentos</h1>
    <div id='calendar' class="bg-white p-6 rounded-lg shadow-md"></div>

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '/agendamento/eventos-calendario/', // Endpoint para buscar os eventos
            eventClick: function(info) {
                // Redirecionar para a página de detalhes do agendamento ao clicar no evento
                if (info.event.url) {
                    window.open(info.event.url);
                }
            },
            eventDidMount: function(info) {
                // Adicionar a cor do evento ao elemento do evento
                info.el.style.backgroundColor = info.event.backgroundColor || info.event.extendedProps.color;
                info.el.style.borderColor = info.event.borderColor || info.event.extendedProps.color;
            }
        });
        calendar.render();
    });
</script>
{% endblock %}
