{% extends 'base.html' %}

{% block title %}Detalhes da Prioridade de Fila{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ prioridade.nome }}</h1>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <p class="text-gray-700 mb-2"><strong>Nível:</strong> {{ prioridade.nivel }}</p>
        <p class="text-gray-700 mb-2"><strong>Descrição:</strong> {{ prioridade.descricao|default:"N/A" }}</p>
    </div>

    <div class="flex space-x-4 mb-6">
        <a href="{% url 'prioridade_fila_update' prioridade.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">Editar Prioridade</a>
        <a href="{% url 'prioridade_fila_delete' prioridade.pk %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Excluir Prioridade</a>
    </div>

    <a href="{% url 'prioridade_fila_list' %}" class="inline-block bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mt-6">Voltar para a lista de prioridades</a>
{% endblock %}